/* Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Root */



/* Utils */



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ticket {
    margin-top: 100px;
}